.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.logo-cont {
  padding: 30px;
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  background: #00ba69;
  float: left;
  margin: 50px 100px;
}

.logo-cont::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 50%;
  border: solid 2px #00ba69;
  top: 0;
  left: 0;
  background: #00ba69;
  animation: grow 1s 1.5s infinite ease-out;
}

.logo-cont::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  border-radius: 50%;
  border: solid 2px #00ba69;
  top: 0;
  left: 0;
  animation: grow 1s 0.8s infinite ease-out;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.spinner {
  padding: 30px;
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  background: white;
  float: left;
  margin: 50px 100px;
}

.spinner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 50%;
  border: solid 2px #00ba69;
  top: 0;
  left: 0;
  animation: grow 1s infinite ease-in-out;
}

.spinner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  border-radius: 50%;
  border: solid 2px #00ba69;
  top: 0;
  left: 0;
  animation: grow 1s 0.5s infinite ease-in-out;
}


@keyframes grow {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}


.d {
  background: transparent;
}
.d::before {
  border: 2px dotted #00ba69;
  border-bottom: 4px solid #00ba69;
  border-top: 4px solid #00ba69;
  animation: spinning 1.5s infinite linear;
}
.d::after {
  animation: grow 2s 0.5s infinite ease-out;
}

@keyframes spinning {
  0% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}